
html, .bg {
    background-color: #edeae3 !important;
 }

 h1, h2, h3, h4 {
    color: #6b705c;
    background-color: #edeae3;
 }

 body {
    color: #a5a58d;
    background-color: #edeae3;
 }
 
 .navbar {
    background-color: #283618 !important;
 }

 .btn {
    background-color: #8a9081;
 }

 #open {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
 }
 
 .third {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
 }
 
 li {
    color: #6b705c;
 }
 
 a:link {
    color: #6b705c;
    }
 
 a:hover {
    color: #ddbea9;
 }

 .footer {
    background-color: #283618 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

 #map {
    height: 400px;
    width: 100%
 }