
html {
    background-color: #f4f1de;
 }

 h1, h2, h3 {
    color: #6b705c;
 }
 
 .row {
    color: #d4a373;
 }
 #open {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
 }
 
 .third {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
 }
 
 li {
    color: #6b705c;
 }
 
 a:visited, a:link {
    color: #6b705c;
    }
 
 a:hover {
    color: #b7b7a4;
 }